<nav>
	<div class = "nav-wrapper purple darken-2">
		<a href = "#" class = "brand-logo">Raising the Fubar</a>
		<a href="#" data-activates="side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul id = "nav-mobile" class = "right hide-on-med-and-down">
			<li><a href = "#">Posts</a></li>
			<li><a href = "#">About</a></li>
			<li><a href = "#">Contact</a></li>
		</ul>
		<ul class="side-nav" id="side-menu">
        <li><a href="#">Posts</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
	</div>
</nav>